<!------------------------------ Notes Collection--------------------------------- ----->
<div fxlayout="row">
    <div fxFlex.xs=0 fx.show="true" fxShow.xs="false" fxShow.sm="false" class="shrink" fxFlex>
      </div>
      <div fx.show="true" fxShow.sm="false" fxShow.md="false" fxShow.xs="false" class="grow" fxFlex="10">
        </div>
        <div fxLayoutAlign="start start" class="main" fxLayout="row wrap" fxLayoutWrap 
        fxLayout.xs="column"
        fxLayout.sm="100">
        <div *ngIf="length!=0" style="width:100%" >{{string}}</div>
  <mat-card 
  ngStyle.sm="width:95%" 
  ngStyle.xs="width:90%;margin-left:3px;margin-right:9px;"
  ngStyle.xl="width:100px" 
  ngStyle.1024-1366="width:0px" 
  ngStyle.md="width:0px" 
  ngstyle.gt-sm="width:100px"
  ngStyle.md="width:200px" [ngClass]="{'viewgrid':condition,'viewlist':!condition}" class="matcard"
  *ngFor='let index of myData | LockFilter:searchInput' [ngStyle]="{'background-color':index.color}">
  <div>
<!------------------------------ Matcard header------------------------------------ -->
<mat-card-header>
<!------------------------------ Matcard title------------------------------------- -->
<mat-card-title>
<!------------------------------ Pin Component--------------------------------- ----->
<app-pin (pinevent)="new($event)" [noteid]="index"></app-pin>


<div fxLayout="row" class="hiddenDiv">

<div  dir="ltr" contenteditable="false" style="font-size:19px" 
aria-multiline="true" role="textbox" role="textbox"
 [innerHTML]="index.title">
</div>
 </div>


</mat-card-title>
      </mat-card-header>
<!------------------------------ Matcard content----------------------------------- -->
      <div (click)="openDialog(index)">
        <mat-card-content class="content">
          <div  contenteditable="false" 
          role="textbox" aria-multiline="true" 
          layout-align="end center"
            class="content" 
            [innerHTML]="index.description">
            {{index.description}}</div>
          </mat-card-content>
          </div>
          </div>

<!------------------------------ checklist--------------------------------- -->
          <div class="note" *ngFor="let checklist of index.noteCheckLists" fxLayout="row">
            <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open' && !checklist.isDeleted" (click)=checkBox(checklist,index.id)></mat-checkbox>
            <input *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName fxFlex="90%"
              class="note" (click)="openDialog(index)" [style.backgroundColor]="index.color">
          </div>
          <div class="note" *ngFor="let checklist of index.noteCheckLists" fxLayout="row">
            <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted" (click)=checkBox(checklist,index.id)></mat-checkbox>
            <del *ngIf="!checklist.isDeleted && checklist.status=='close'" class="note" (click)="openDialog(index)">{{checklist.itemName}}</del>
          </div>
<!------------------------------ labels--------------------------------------------- -->
          <div fxLayout="row wrap" fxLayoutAlign="start" class="row-height" fxLayoutGap="5px">
            <div *ngFor="let item of index.noteLabels">
              <mat-chip-list selected>
                <mat-chip class="labelmatchip" routerLink="/home/labels/{{item.label}}" (click)="funclabel(item.label)"
                  appearance="outline" *ngIf="item.isDeleted==false">
                  <span class="span" >{{item.label}}</span>
                  <mat-icon matChipRemove (click)="removelabel(item.id,index.id)">cancel</mat-icon>
                </mat-chip><br>
              </mat-chip-list>
            </div>
          </div><br>
<!------------------------------ Reminders------------------------------------------ -->
          <div fxLayout="row" *ngIf="checkReminder(index.reminder[0])" fxLayoutAlign="start start" class="row-height"
            fxLayoutGap="5px">
            <div *ngFor="let item of index.reminder">
              <mat-chip-list selected>
                <div *ngIf='(todaydate | date:shortDate) == (item | date:shortDate )'>
                  <mat-chip class="top" [matMenuTriggerFor]="edit.menu">
                    <app-icon1 style="opacity:0" #edit="menuInOtherComponent" (click)="getReminder()" (reminderevent)="reminder($event)"
                      [reminders]="index"></app-icon1>
                    <mat-icon class="accesstime">access_time</mat-icon>
                    Today {{item | date:"shortTime"}}
                    <mat-icon (click)="removereminder(index.id)" matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </div>
                <div *ngIf='(tomorrow | date:shortDate) == (item | date:shortDate )'>
                  <mat-chip class="top" [matMenuTriggerFor]="edit.menu">
                    <app-icon1 style="opacity:0" #edit="menuInOtherComponent" (click)="getReminder()" (reminderevent)="reminder($event)"
                      [reminders]="index"></app-icon1>
                    <mat-icon class="accesstime">access_time</mat-icon>

                    tomorrow {{item | date:"shortTime"}}
                    <mat-icon (click)="removereminder(index.id)" matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </div>
                <div *ngIf='(todaydate | date:shortDate) !==(item | date:shortDate ) && 
            (tomorrow | date:shortDate) !== (item | date:shortDate )'>
                  <mat-chip class="top" [matMenuTriggerFor]="edit.menu">
                    <app-icon1 style="opacity:0" #edit="menuInOtherComponent" (click)="getReminder()" (reminderevent)="reminder($event)"
                      [reminders]="index"></app-icon1>
                    <mat-icon class="accesstime">access_time</mat-icon>
                    {{item | date:"short"}}
                    <mat-icon (click)="removereminder(index.id)" matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </div>
              </mat-chip-list>
            </div>
          </div>
<!------------------------------delete Reminders------------------------------------ -->
          <div fxLayout="row" *ngIf="!checkReminder(index.reminder[0])" fxLayoutAlign="start start" class="row-height"
            fxLayoutGap="5px">
            <div *ngFor="let item of index.reminder">
              <mat-chip-list selected>
                <mat-chip class="top" [matMenuTriggerFor]="edit.menu">
                  <app-icon1 style="opacity:0" #edit="menuInOtherComponent" (click)="getReminder()" (reminderevent)="reminder($event)"
                    [reminders]="index"></app-icon1>
                  <mat-icon class="accesstime">access_time</mat-icon>
                  <del>{{item | date:"short"}}</del>
                  <mat-icon (click)="removereminder(index.id)" matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
      <!-- </div> -->
    
<!------------------------------mat-card icons ----------------------------------- -->
    <mat-card-actions>
      <div fxLayoutAlign="space-between" class="invisible">
        <app-icon1 (click)="getReminder()" (reminderevent)="reminder($event)" [reminders]="index"></app-icon1>
        <app-collaboratoricon></app-collaboratoricon>
        <app-coloricon (resp)="color($event)" [newcolor]="index.id"></app-coloricon>
        <app-imageicon></app-imageicon>
        <app-archiveicon (unarchiveevent)="unarchive($event)" (archiveevent)="archive($event)" [noteid]="index"></app-archiveicon>
        <app-moreicon [name]="name" (delevent)="trash($event)" (moreevent)="receive($event)" [arrayofnotes]="index"></app-moreicon>
      </div>
    </mat-card-actions>
  </mat-card></div>

  <div fx.show="true"  fxShow.sm="false" fxShow.md="false" fxShow.xs="false" class="grow" fxFlex="10">
    </div>
    <div fxFlex.xs=0 fx.show="true" fxShow.md="false" fxShow.xs="false" fxShow.sm="false" 
         class="shrink" fxFlex></div>
  
</div>