.example-card{
    margin-top:25px;
    border-radius: 15px;
}

.matcard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    margin: 10px;
    /* height:auto; */
     width:190px; 
    border-radius: 10px 10px 10px 10px;
  
} 
.matcard:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


    margin: 10px;
    /* height:auto; */
     width:190px; 
    border-radius: 10px 10px 10px 10px;
  
} 



mat-chip {
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden !important;
    
  }
 
mat-card-title{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;

    width:180px;
    height:auto;
    word-wrap: break-word;
    font-size: 100px;
    font-weight: bolder;
}
.main{
    width:800px;
    flex-wrap: wrap;
}

mat-card-content{
    width:180px;
    height:auto;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    line-height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 400;

    word-wrap: break-word;
}
.invisible{
    margin-bottom:0px;
    opacity: 0;
}
.invisible:hover{
    opacity: 1;
    margin-bottom:0px;


}
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(0,0,0,.87);
    opacity: 0;
    word-wrap: break-word;

}
.mat-chip.mat-standard-chip .mat-chip-remove:hover {
    color: rgba(0,0,0,.87);
    opacity: 0.4;
    word-wrap: break-word;


}
.span{
    width:50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
 
}
.viewgrid{
    width:190px;
}
.viewlist{
    width:700px;
}

.note{
    border:none;
    outline: none;
}
.accesstime{
    margin-left:-35px;
    margin-right: 0px;
}
.mat-chip-list-wrapper .mat-standard-chip,
 .mat-chip-list-wrapper input.mat-input-element {
    margin: 8px;
    word-wrap: break-word;

}
.labelmatchip{
    height:30px;
    width:auto;
    margin-top:50px;

}
.top{
    height:30px;
    width:auto;
}
