<div fxLayoutWrap fxLayoutAlign="start start" fxLayout="row wrap" fxLayoutGap="20px" >
<mat-card class="example-card" *ngFor='let index of myData'>
  <mat-card-header>
    <mat-card-title ><div class="inputTitle" contenteditable="false"aria-multiline="true" role="textbox"[innerHTML]="index.title"></div></mat-card-title> 
  </mat-card-header>
  <mat-card-content class="content">
    <div contenteditable="false" role="textbox" aria-multiline="true" layout-align="end center" class="content"[innerHTML]="index.description"></div>
  </mat-card-content>
  <mat-card-actions>
    <span class="invisible">
      <app-icon1></app-icon1>
      <app-collaboratoricon></app-collaboratoricon>
      <app-coloricon></app-coloricon>
      <app-imageicon></app-imageicon>
      <app-archiveicon></app-archiveicon>
      <app-moreicon></app-moreicon>
    </span>
  </mat-card-actions>
</mat-card></div>
