.example-card{
    margin-top:20px;
    border-radius: 25px;

    /* height:auto; */
    /* width: 200px; */

}
.row-height{
    /* height:19%; */
    margin-top:10%;
  }


 /* mat-card{
    opacity: 0;
    width:200px;
}  */
mat-card-title{
    width:200px;
    height:auto;
    word-wrap: break-word;
    /* background-color: rgb(214, 143, 138); */

    font-weight: bold
}
mat-card-content{
    width:200px;
    height:auto;
    word-wrap: break-word;
    /* background-color: palegoldenrod; */

}
.invisible{
    opacity: 0;
}
.invisible:hover{
    opacity: 1;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(0,0,0,.87);
    opacity: 0;
}
.mat-chip.mat-standard-chip .mat-chip-remove:hover {
    color: rgba(0,0,0,.87);
    opacity: 0.4;
}