.example-card{
    margin-top:25px;
    border-radius: 15px;
}
.row-height{
    margin-top:0%;
  }
mat-card{
    border-radius: 15px;
}
mat-card-title{
    width:200px;
    height:auto;
    word-wrap: break-word;
    font-size: 500px;
    font-weight: bolder;
}
.main{
    /* padding:5px; */
    width:799px;
    flex-wrap: wrap;
    /* flex-basis: 100% */
}

mat-card-content{
    width:200px;
    height:auto;
    word-wrap: break-word;
}
.invisible{
    opacity: 0;
}
.invisible:hover{
    opacity: 1;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(0,0,0,.87);
    opacity: 0;
}
.mat-chip.mat-standard-chip .mat-chip-remove:hover {
    color: rgba(0,0,0,.87);
    opacity: 0.4;
}
.viewgrid{
    width:265px;
}
.viewlist{
    width:600px;
}
.note{
    border:none;
    outline: none;
}
.accesstime{
    margin-left:-35px;
    margin-right: 4px;
}
.mat-chip-list-wrapper .mat-standard-chip,
 .mat-chip-list-wrapper input.mat-input-element {
    margin: 8px;
}
