<div fxLayoutWrap fxLayoutAlign="center center" fxFlex.xs="95%" fxFlex fxLayout="row wrap" fxLayoutGap="10px">
  <mat-card [ngClass]="{'viewgrid':condition,'viewlist':!condition}" class="example-card" *ngFor='let index of myData | LockFilter:searchInput'
    [ngStyle]="{'background-color':index.color}">
    <div (click)="openDialog(index)">
      <mat-card-header>
        <mat-card-title>
          <div class="inputTitle" contenteditable="false" aria-multiline="true" role="textbox" [innerHTML]="index.title"></div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <div contenteditable="false" role="textbox" aria-multiline="true" layout-align="end center" class="content"
          [innerHTML]="index.description"></div>
        <div></div>
      </mat-card-content>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="row-height" fxLayoutGap="5px">
      <div *ngFor="let item of index.noteLabels">
        <mat-chip-list selected>
          <mat-chip *ngIf="item.isDeleted==false">
            {{item.label}}
            <mat-icon matChipRemove (click)="removelabel(item.id,index.id)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <mat-card-actions>
      <span class="invisible">
        <app-icon1></app-icon1>
        <app-collaboratoricon></app-collaboratoricon>
        <app-coloricon (resp)="color($event)" [newcolor]="index.id"></app-coloricon>
        <app-imageicon></app-imageicon>
        <app-archiveicon (unarchiveevent)="unarchive($event)" (archiveevent)="archive($event)" [noteid]="index"></app-archiveicon>
        <app-moreicon [name]="name" (delevent)="trash($event)" (moreevent)="receive($event)" [arrayofnotes]="index"></app-moreicon>
      </span>
    </mat-card-actions>
  </mat-card>
</div>