.example-card{
    margin-top:20px;
    border-radius: 15px;
}
.row-height{
    margin-top:10%;
  }
mat-card{
    border-radius: 15px;
}
mat-card-title{
    width:200px;
    height:auto;
    word-wrap: break-word;
    font-size: 500px;
    font-weight: bolder;
}
mat-card-content{
    width:200px;
    height:auto;
    word-wrap: break-word;
}
.invisible{
    opacity: 0;
}
.invisible:hover{
    opacity: 1;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(0,0,0,.87);
    opacity: 0;
}
.mat-chip.mat-standard-chip .mat-chip-remove:hover {
    color: rgba(0,0,0,.87);
    opacity: 0.4;
}
.viewgrid{
    width:225px;
}
.viewlist{
    width:500px;
}