   
@mixin text-overflow-hide {
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden !important;
   }
@mixin border{
       border: none;
       outline: none; 
   }
@mixin posi_over {
       position:relative;
       overflow:hidden;
   }
@mixin  color_icon {
       width: 35px;
       height: 35px;
   }
@mixin box_shadow_hover{
       box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
@mixin box_shadow{
       box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
       transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   }
@mixin notes_left {
       float: left;
       text-align: left;
   }
@mixin notes_right {
    float:right;
    text-align:right;
   }
@mixin margins($top,$right,$bottom,$left){
    margin-top:$top;
    margin-bottom:$bottom;
    margin-left:$left;
    margin-right:$right;

}
@mixin fundoo(){
    border-radius:30px 30px 30px 30px;
    margin-top:25px;
    padding:10px 0px 0px 10px;
    background-color: #fb0;
    color:white;
    height:35px;
    width:110px;
    font-size:18px;
}
@mixin go(){
    width:240px;
    background-color: rgb(41, 68, 189);
    color:white;
}
@mixin toolbar(){
    position: sticky;
    background: #fb0;
    color: black;
    top: 0;
}

