<mat-icon class="icon2" mat-icon-button style="margin-bottom:30px;user-select: none;" [matMenuTriggerFor]="menu"  matTooltip="More">more_vert</mat-icon>&nbsp;
<mat-menu  style="padding-top:30px;"class="menu" #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="deletecard(arrayofnotes.id)"><span>Delete Note</span></button>
    <button mat-menu-item [matMenuTriggerFor]="addlabel" (click)="getLabels()"><span>Add label</span></button>
    <mat-menu [overlapTrigger]="false" (click)="$event.stopPropagation();"  #addlabel="matMenu"><div class="title">Label note</div>
        <br><div fxLayout="row" (click)="$event.stopPropagation();"><mat-icon fxFlex="30">search</mat-icon>
            <input  class="inputTitle" contenteditable="true" placeholder="Enter label name" [(ngModel)]="query"></div><br>
        <div *ngFor="let label of labelarray | LockFilter: query">
            <mat-checkbox (click)="$event.stopPropagation();" [(ngModel)]="label.isChecked" (click)="getlabellist(label.id)"class="example-margin">{{label.label}}</mat-checkbox>
        </div>
    </mat-menu>
    <button mat-menu-item><span>Add drawing</span></button>
</mat-menu>
