<mat-icon class="icon2" mat-icon-button [matMenuTriggerFor]="menu"
    matTooltip="More">more_vert</mat-icon>&nbsp;
<mat-menu  class="menu" #menu="matMenu" [overlapTrigger]="false">
    <button *ngIf="name == 'trash' " mat-menu-item (click)="trashforever()">
        <span>Delete Forever</span></button>
    <button *ngIf="name == 'trash' " mat-menu-item (click)="restore()">
        <span>Restore</span>
    </button>
    <button *ngIf="name != 'trash' " mat-menu-item (click)="deletecard(arrayofnotes.id)"><span>Delete Note</span></button>
    <button *ngIf="name != 'trash' " mat-menu-item [matMenuTriggerFor]="addlabel" (click)="getLabels1()"><span>Add
            label</span></button>
    <mat-menu [overlapTrigger]="false" (click)="$event.stopPropagation();" #addlabel="matMenu">
        <div class="title">Label note</div>
        <br>
        <div fxLayout="row" (click)="$event.stopPropagation();">
            <mat-icon fxFlex="30">search</mat-icon>
            <input class="inputTitle" contenteditable="true" placeholder="Enter label name" [(ngModel)]="query">
        </div><br>
        <div *ngFor="let label of labelarray | LockFilter: query">
            <mat-checkbox (click)="$event.stopPropagation();" [checked]="func(label)" 
            (click)="clickFunc(label)"
                (click)="getlabellist(label.id)" class="example-margin">{{label.label}}</mat-checkbox>
        </div>
    </mat-menu>
    <button  mat-menu-item (click)="questionState()"><span >Ask A Question</span></button>
</mat-menu>