<div class="collaborator">
  <mat-card >
         <div class="collab">Collaborators</div>
    <hr>
    <br>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="20px">
        <button mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
        </button>
        <mat-content fxFlex class="content">
          {{firstName | titlecase}} {{lastName | titlecase}} (Owner)<br>
        </mat-content>
      </div>
      <div class="contentNew">
        <mat-content fxFlex>{{mail}}</mat-content>
      </div>


      <div class="scroll">
        <div fxLayout="row" mat-mini-fab *ngFor='let index of newList' fxLayoutGap="20px">
          <div fxFlex="10%">
            <button mat-mini-fab color="accent">
              {{index.email | titlecase | slice:0:1}}
            </button>
          </div>
          <div fxFlex="75%" class="names">{{index.email | titlecase}} </div>
          <div fxFlex="15%">
            <mat-icon fxFlex (click)="removecollaborator(index)" class="clear" fxFlex="100">clear</mat-icon>
          </div>
        </div>
      </div>

      <div fxLayout="row" class="person" fxLayoutGap="20px">
        <div fxFlex="10%">
          <button mat-mini-fab disabled>
            <mat-icon>person_add</mat-icon>
          </button>
        </div> &nbsp;&nbsp;
        <div fxFlex="75%">
          <input class="place" (keyup)="searchpeople(searchemail)" [matMenuTriggerFor]="menu" [(ngModel)]="searchemail"
            placeholder="Person or email to share with..."></div>
        <div fxFlex="15%">
          <mat-icon (click)="onEnter(searchemail)" class="done">done</mat-icon>
        </div>
      </div>


    </mat-card-content><br><br>
    <mat-card-footer class="footer">
      <div class="buttons">
        <a class="button" (click)=save() mat-button>Save</a>
        <a class="button" (click)=save() mat-button>Close</a>
      </div>
    </mat-card-footer>
 
  </mat-card>
</div>
<mat-menu class="matmenu" (click)="$event.stopPropagation()" #menu="matMenu" [overlapTrigger]="false">
  <div class="matmenu" mat-button *ngFor='let colors of userlist' (click)="addCollaboratorNotes(colors);select(colors.email)">
    {{colors.firstName}}.....{{colors.lastName}}.....{{colors.email}}
    <br>
  </div>
</mat-menu>