<!---------------------------------Question Answer ----------------------------------->
<div fxLayout="column">
  <div fxFlex="100" ngStyle.xs="width:100%" class="questionCard">
    <!---------------------------------- Title------------------------------------------->
    <div fxLayout="row">
      <div [innerHTML]="Title" class="title" fxFlex></div>
      <button fxFlex="5" mat-button (click)="close()">CLOSE</button>
    </div>
    <!-------------------------------- Description--------------------------------------->
    <div>
      <div class="desc" [innerHTML]="Description"></div>
      <hr>
    </div>
    <div *ngFor="let list of checkList">
      <div>
        <mat-checkbox [ngModel]="true" *ngIf="list.status=='close' && list.isDeleted==false"></mat-checkbox>
        <span *ngIf="list.status=='close' && list.isDeleted==false">{{list.itemName}}</span>
        <mat-checkbox [ngModel]="false" *ngIf="list.status=='open' && list.isDeleted==false"></mat-checkbox>
        <span *ngIf="list.status=='open' && list.isDeleted==false">{{list.itemName}}</span>
      </div>
    </div>
    <!---------------------------asking Question--------------------------------------->
    <div class="top">Question Asked</div>
    <div *ngIf="message==null">
      <input [(ngModel)]="questionAsked" class="border top" (keydown.enter)="askQuestion(questionAsked)" placeholder="Ask a Question">
    </div>
    <div class="newMsg">
      <div class="msg" style="border:solid"> {{message}}</div>
    </div>
    <!---------------------------display question message------------------------------>
    <div class="scroll" *ngIf="message!=null">
      <div  ngStyle.xs="width:100%" fxLayout="row" class="fabBtn ">
        <div style="border:solid"  fxFlex="4%" fxFlex.xs="8%">

        <button *ngIf="img!=''" class="image" mat-mini-fab [ngStyle]="{'background-image':'url(' +image2+ ')','background-size':'cover'}"></button>
        <button *ngIf="img==''" mat-mini-fab>
          {{questionAnswerArray[0].user.firstName | titlecase | slice : 0 : 1 }}
        </button>
        </div>
        
        <!-- <div  class="msgNew"></div> -->
        <div  fxFlex="88%"  fxFlex.xs="60%" style="border:solid" fxFlex class="user">{{questionAnswerArray[0].user.firstName | titlecase}}
          {{questionAnswerArray[0].user.lastName | titlecase}}
          <span class="span">{{questionAnswerArray[0].modifiedDate | date:medium}}</span>
          
          <div    class="msg ">{{questionAnswerArray[0].message}}</div>
        
        </div>
        <div style="border:solid" fxFlex="16%" fxFlex.xs="32%" class="icons" fxLayout="row">
          <!--------------------------------- reply message--------------------->
          <div fxFlex>
            <mat-icon matTooltip="Reply" class="icon" 
            (click)="replyAnswer(questionAnswerArray[0].id);replyques=questionAnswerArray[0].id">reply</mat-icon>
          </div>
          <!-------------------------------------like---------------------------------->
          <div fxFlex>
            <mat-icon matTooltip="Like" class="icon" (click)="like(questionAnswerArray[0].id)">thumb_up_alt</mat-icon>
            {{questionAnswerArray[0].like.length}}</div>
          <!---------------------------------- rating -------------------------------->
          <div class="icon" class="rate " *ngIf="questionAnswerArray[0].rate.length!=0">
            <bar-rating (rateChange)="ratingAnswer(questionAnswerArray[0],$event)" [(rate)]="rate"
              [max]="5"></bar-rating>
          </div>
          <div fxFlex class="icon" class="rate " *ngIf="questionAnswerArray[0].rate.length==0">
            <bar-rating matTooltip="Rate" (rateChange)="ratingAnswer(questionAnswerArray[0],$event)" [max]="5"></bar-rating>
          </div>
        </div>
      </div>
      <div *ngIf="replyques == questionAnswerArray[0].id">
        <div  fxFlex="50%" #replyMessage  class="reply_Div" contenteditable="true" placeholder="Write your comment"></div>
      <button mat-button (click)="reply()">reply</button>
      </div>
      <!--------------------------opening 2nd div to enter comment or reply-------------->
      <div *ngFor=" let value of questionAnswerArray" style="margin-left:10%">
        <div *ngIf="value.parentId == questionAnswerArray[0].id">
          <div ngStyle.xs="width:100%" fxLayout="row" class="fabBtn ">
            <div style="border:solid"  fxFlex="4%" fxFlex.xs="10%">
            <button *ngIf="img!=''" class="image" mat-mini-fab [ngStyle]="{'background-image':'url(' +img+value.user.imageUrl+')','background-size':'cover'}">
            </button>
            <button *ngIf="img==''" mat-mini-fab>{{value.user.firstName | titlecase | slice : 0 : 1 }}
            </button>
          </div>
            <!-- <div style="border:solid"  class="msgNew"></div> -->
            <div fxFlex="78%"  fxFlex.xs="60%" style="border:solid"  fxFlex class="user">{{value.user.firstName | titlecase}} {{value.user.lastName | titlecase}}
              <span class="span">{{value.modifiedDate | date:medium}}</span>
              <div class="msg ">{{value.message}}</div>
            </div>
            <div style="border:solid" fxFlex="18%" fxFlex.xs="32%" class="icons" fxLayout="row" fxLayoutAlign="space-between center" >
              <!---------------------------reply--------------------------------->
              <div>
                <mat-icon matTooltip="Reply" class="icon"
                 (click)="replyAnswer(value.id);replyques=value.id">reply</mat-icon>
              </div>
              <!--------------------------like--------------------------------->
              <div>
                <mat-icon matTooltip="Like" class="icon" (click)="like(value.id)">thumb_up_alt</mat-icon>
              </div>
              <div class="count user">{{value.like.length}}</div>
              <!---------------------------give the rating ---------------------->
              <div class="icon" class="rate " *ngIf="value.rate.length!=0">
                <bar-rating (rateChange)="ratingAnswer(value,$event)" [(rate)]="rate" [max]="5"></bar-rating>
              </div>
              <div class="icon" class="rate " *ngIf="value.rate.length==0">
                <bar-rating matTooltip="Rate" (rateChange)="ratingAnswer(value,$event)" [max]="5"></bar-rating>
              </div>
            </div>
          </div>
          <div *ngIf="replyques == value.id">

                  <!-- <div *ngIf="replyques==questionAnswerArray[0].id"></div> -->
                <div  fxFlex="50%" #replyMessage  class="reply_Div" contenteditable="true" placeholder="Write your comment"></div>
              <button mat-button (click)="reply()">reply</button>
              





              <!-- <div *ngIf="replyques==questionAnswerArray[0].id"></div> -->
          </div>
          <!--------------------------opening 3rd div to enter comment or reply--------->
          <div *ngFor=" let value2 of questionAnswerArray" style="margin-left:10%">
            <div *ngIf="value2.parentId == value.id">
              <div ngStyle.xs="width:100%" fxLayout="row" class="fabBtn ">
                  <div style="border:solid"  fxFlex="4%" fxFlex.xs="10%">

                <button *ngIf="img!=''" class="image" mat-mini-fab [ngStyle]="{'background-image':'url(' +img+value2.user.imageUrl +')','background-size':'cover'}">
                </button>
                <button *ngIf="img==''" mat-mini-fab>
                  {{value2.user.firstName | titlecase | slice : 0 : 1 }}
                </button>
                </div>
                <!-- <div class="msgNew"></div> -->
                <div fxFlex="90%"  fxFlex.xs="60%" style="border:solid" fxFlex class="user">{{value2.user.firstName | titlecase}} {{value2.user.lastName | titlecase}}
                  <span class="span">{{value2.modifiedDate | date:medium}}</span>
                  <div class="msg ">{{value2.message}}</div>
                </div>
                <div style="border:solid" fxFlex="17%" fxFlex.xs="32%"  class="icons" fxLayout="row">
                  <!------------------------like---------------------------->
                  <div>
                    <mat-icon matTooltip="Like" class="icon" (click)="like(value2.id)">thumb_up_alt</mat-icon>
                  </div>
                  <div class="count user">{{value2.like.length}}</div>
                  <!-------------------------rating ----------------------->

                  <div class="icon" class="rate " *ngIf="value2.rate.length!=0">
                    <bar-rating (rateChange)="ratingAnswer(value2,$event)" [(rate)]="value2.rate[0].rate" [max]="5"></bar-rating>
                  </div>

                  <div class="icon" class="rate " *ngIf="value2.rate.length==0">
                    <bar-rating matTooltip="Rate" (rateChange)="ratingAnswer(value2,$event)" [max]="5"></bar-rating>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------------------show ----------------------------------------->
      <!-- <div *ngIf="!show">
          <div *ngIf="replyques==questionAnswerArray[0].id"></div>
        <input class="textNew user " [(ngModel)]="replyMessage" (keydown.enter)="reply()" placeholder="Leave a reply ">
      </div> -->
    <!-- </div> -->
    </div>
  </div>
</div>