.row-height{
    margin-top:2%;
}
.input {
    width: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 14px;
    font-family: cursive;
} 
.card1{
  height:45px;
  width: 500px;   
   border: none;
  outline: none;
  padding: 2px;
  }
  .icon1{
    opacity: 0.5;
    margin-top:-19px;
  }
  .icon1:hover{
    opacity: 1.5;
    margin-top:-19px;
}
.input2{
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    border:none;
    outline:none;
  }
.input3{
      float:left;
      border:none;
      outline:none;
  }
div[contenteditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.5;;
    }
.hiddencard {
    width: 400;
    font-weight: bolder;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    padding: 2px;
}
.hiddenDiv {
    padding: 10px;
    border-radius: 20px;
}
.cardd{
     border-radius: 20px;
    }
.inputTitle {
    border: none;
    outline: none;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
    }
.inputNote1{
    border: none;
    outline: none;
    font-size: 20px;
    float: left;
    text-align: left;
    margin-right:160px;
}
.inputNote {
    border: none;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.pin {
    margin-top:0px;
    float: right;
    opacity: 0.5;
}
.pin:hover{
    opacity: 1;
}
.app-icon1{
    opacity: 0.5;
}
.closeButton{
   opacity: 0.5;
}
.closeButton:hover{
    opacity: 1;
}
.check{
    margin-top:3px;
}
.menu{
    padding-top:30px;}

    
    
      
      



  