<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
    <mat-card fxFlex="55" fxFlex.md="100%" fxFlex.xs="100%" fxFlex.sm="100%"class="card1" *ngIf="expression1">
        <span ><input fxFlex="30"  class="input" contenteditable="true" (click)="display()" placeholder="Take a note..."></span>
        <div fxLayoutGap="space-between" fxLayoutAlign="end">
            <mat-icon fxFlex="10" (click)="expression3=!expression3"  (click)="expression2=true" (click)="expression1=false" class="icon1"   matTooltip="New Note"  mat-icon-button>format_list_bulleted</mat-icon>
            <mat-icon fxFlex="10" matTooltip="New note with image" class="icon1" mat-icon-button>image</mat-icon>
            <mat-icon fxFlex="5" matTooltip="Drawing not available"  class="icon1" mat-icon-button>brush</mat-icon>
        &nbsp;&nbsp;</div>
    </mat-card>
    <mat-card class="cardd" [ngStyle]="{'background-color':colorChange}" fxFlex.lg="55%" fxFlex.md="100%" fxFlex.xs="100%" fxFlex.sm="100%"*ngIf="expression2" class="hiddencard">
        <div fxLayout="row" class="hiddenDiv">
            <div  class="inputTitle" contenteditable="true"   id="title"placeholder="Title"></div>
            <div><img class="pin" src="../../../assets/images/pin.svg" matTooltip="Pin Note"alt=""></div></div>
            
            <!-- <div fxLayout="row" fxLayoutAlign="start start" class="row-height" fxLayoutGap="5px"> -->
                    <div *ngFor="let label of selectarray2">
                      <mat-chip-list selected  style="margin-top:15px;">
                        <mat-chip>
                          {{label}}
                          <!-- <mat-icon matChipRemove (click)="removelabel(item.id,item.id)">cancel</mat-icon> -->
                        </mat-chip>
                      </mat-chip-list>
                    </div>

            
            <div  *ngIf="expression3"     class="inputNote" contenteditable="true" id="note"placeholder="Take a note..." autofocus #description></div><br>
            <div fxLayoutAlign="space-between">
                <mat-icon *ngIf="!expression3" >add</mat-icon><div fxFlex="60" *ngIf="!expression3" class="inputNote1" contenteditable="true" id="note"placeholder="checkbox list" autofocus #description></div>
            </div>

                    


            <span>
                <app-icon1></app-icon1>
               <app-collaboratoricon></app-collaboratoricon>
                <app-coloricon (response)="color($event)"></app-coloricon>
                <app-imageicon></app-imageicon>
                <app-archiveicon></app-archiveicon>
                <!-- <app-moreicon (moreevent)="receive($event)"></app-moreicon> -->
                <mat-icon class="icon2" mat-icon-button style="margin-bottom:30px;user-select: none;" [matMenuTriggerFor]="menu"  matTooltip="More">more_vert</mat-icon>&nbsp;
<mat-menu  style="padding-top:30px;"class="menu" #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [matMenuTriggerFor]="addlabel" (click)="getLabels1()" ><span>Add label</span></button>
  
  
  
    <mat-menu [overlapTrigger]="false" (click)="$event.stopPropagation();"  #addlabel="matMenu"><div class="title">Label note</div>
        <br><div fxLayout="row" (click)="$event.stopPropagation();"><mat-icon fxFlex="30">search</mat-icon>
            <input  class="inputTitle" contenteditable="true" placeholder="Enter label name" [(ngModel)]="query"></div><br>
        <div *ngFor="let label of labelarray | LockFilter: query">
            <mat-checkbox (click)="$event.stopPropagation();" (click)="clickFunc(label)"class="example-margin">{{label.label}}</mat-checkbox>
        </div>
    </mat-menu>
    <button mat-menu-item><span>Add drawing</span></button>
</mat-menu>

                <app-undoicon></app-undoicon>
                <app-redoicon></app-redoicon>
                <button mat-button  (click)="close()">CLOSE</button>
            </span>
    </mat-card>
</div><br>
