@import "../../../sass/_variable.scss";
@import "../../../sass/_mixins.scss";
.row-height{
    margin-top:2%;
}
.input {
    width: 80%;
    @include border;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 14px;
    font-family: cursive;
} 
.matcard{
    @include box_shadow;
}
.matcard:hover{
  @include box_shadow_hover;
}
.card1{
  height:45px;
  width: 500px;   
  @include border;
  padding: 2px;
  }
  .icon1 {
    opacity: 0.5;
    margin-top: -19px;
    &:hover {
      opacity: 1.5;
      margin-top: -19px;
    }
  }
  .icon2 {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
.input2{
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    @include border;

  }
.input3{
      float:left;
      @include border;
}
div[contenteditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.5;;
    }
.hiddencard {
    width: 400;
    font-weight: bolder;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    padding: 2px;
}
.hiddenDiv {
    padding: 10px;
    border-radius: 20px;
}
.cardd{
     border-radius: 20px;
}
.inputTitle {
    @include border;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
}
.inputNote1{
    @include border;
    font-size: 20px;
    @include notes_left;
    margin-right:160px;
}
.inputNote {
    @include border;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.inputNote3{
    @include border;
    font-size: 14px;
    margin-left:5px;
}
.accesstime{
    margin-left:-35px;
    margin-right: 4px;
}
.pin {
    margin-top:0px;
    float: right;
    opacity: 0.5;
}
.pin:hover{
    opacity: 1;
}
.app-icon1{
    opacity: 0.5;
}
.closeButton {
    opacity: 0.5;
    float: right;
    &:hover {
      float: right;
      opacity: 1;
    }
}
.check{
    margin-top:3px;
}
.menu{
    padding-top:30px;
}

    
    
      
      



  