.row-height{
    margin-top:2%;
}
.input {
    width: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 14px;
    font-family: cursive;
} 
.matcard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.matcard:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
-moz-box-shadow: 0 0 30px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.6);
-o-box-shadow: 0 0 30px rgba(0,0,0,0.6);

}
.card1{
  height:45px;
  width: 500px;   
   border: none;
  outline: none;
  padding: 2px;
  }
  .icon1{
    opacity: 0.5;
    margin-top:-19px;
  }
  .icon1:hover{
    opacity: 1.5;
    margin-top:-19px;
}
.icon2{
    opacity: 0.5;
    // margin-top:-19px;
  }
  .icon2:hover{
    opacity: 1;
    // margin-top:-19px;
}

.input2{
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    border:none;
    outline:none;
  }
.input3{
      float:left;
      border:none;
      outline:none;
  }
div[contenteditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.5;;
    }
.hiddencard {
    width: 400;
    font-weight: bolder;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    padding: 2px;
}
.hiddenDiv {
    padding: 10px;
    border-radius: 20px;
}
.cardd{
     border-radius: 20px;
    }
.inputTitle {
    border: none;
    outline: none;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
    }
.inputNote1{
    border: none;
    outline: none;
    font-size: 20px;
    float: left;
    text-align: left;
    margin-right:160px;
}
.inputNote {
    border: none;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.inputNote3{
    border: none;
    outline: none;
    font-size: 14px;
    margin-left:5px;


    
}
.accesstime{
    margin-left:-35px;
    margin-right: 4px;
}
.pin {
    margin-top:0px;
    float: right;
    opacity: 0.5;
}
.pin:hover{
    opacity: 1;
}
.app-icon1{
    opacity: 0.5;
}
.closeButton{
    // margin-left:200px;
   opacity: 0.5;
//    position:relative;
   float:right;

}
.closeButton:hover{
    // margin-left:200px;
    // position:relative;
    float:right;

    opacity: 1;
}
.check{
    margin-top:3px;
}
.menu{
    padding-top:30px;}

    
    
      
      



  