<!-- <p>
  resetpassword works!
</p> -->
<div fxLayout="row wrap" fxLayoutAlign="center center " class="row-height">
    
  
  <!-- <mat-card fxFlex="34%"> -->
      <mat-card fxFlex.lg="34%" fxFlex.md="100%" fxFlex.xs="100%" fxFlex.sm="100%">
<form>
        <mat-card-title align:center>  <h3>Reset password </h3></mat-card-title>

        <mat-card-content fxLayout="column">
           
          
          <div class="pichi">

          
            <mat-form-field>
              <input matInput placeholder="Enter your password" name="password"    [type]="hide ? 'password' : 'text'"  [(ngModel)]="model.password" required>  
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

              <!-- <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error> -->

            
            </mat-form-field>
          

              
              
              </div>
                
                <div class="reset">
                  <button mat-flat-button color="primary"    (click)=set()>Submit</button>
                 </div>
</mat-card-content>
</form>
</mat-card>
</div>