<app-notes (onNewEntryAdded)="getCard($event)"></app-notes>
<!-- OTHERS -->
<app-notescard   [myData]="arraynewdata"
(remm)="getCard($event)" (noteevent)="getCard($event)" 
(updateevent)="getCard($event)" (archiveevent)="getCard($event)"
(colorevent)="getCard($event)" (pavitra)="pinNew($event)"  [length]="pinarraay.length" [string]="'OTHERS'"
> </app-notescard>

<!-- PINNED -->
<app-notescard [myData]="pinarraay" (pavitra)="pinNew($event)"
(remm)="getCard($event)" (noteevent)="getCard($event)"
(updateevent)="getCard($event)" (archiveevent)="getCard($event)"
(colorevent)="getCard($event)"  (remm)="getCard($event)"  [length]="pinarraay.length" [string]="'PINNED'"
> </app-notescard>


