.pin1 {
    margin-top:1px;
    float: right;
    opacity: 1;
}
.pin1:hover{
    margin-top:1px;
    float: right;
    opacity: 1;
}
// .pin2{
//     opacity:0;
//     margin-top:0px;
//     float: right;

// }.pin2:hover{
//     opacity:0.5;
//     margin-top:0px;
//     float: right;

// }