.pin1 {
    margin-top:0px;
    float: right;
    opacity: 0;
}
.pin1:hover{
    margin-top:0px;
    float: right;
    opacity: 0.7;
}
.pin2{
    opacity:0;
    margin-top:0px;
    float: right;

}.pin2:hover{
    opacity:0.5;
    margin-top:0px;
    float: right;

}