&nbsp;<mat-icon class="icon2"mat-icon-button matTooltip="change color"  [matMenuTriggerFor]="menu" style="margin-bottom:30px;user-select: none;">color_lens</mat-icon>&nbsp;
<mat-menu  matTooltip="change color"style="padding-top:30px;"class="menu" #menu="matMenu" [overlapTrigger]="false">
    <div class="example-button-row">
        <button mat-mini-fab class="white" (click)="changecolor('#ffffff')" matTooltip="white"></button>
        <button mat-mini-fab class="red" (click)="changecolor('#90ee90')"matTooltip="red"></button>
        <button mat-mini-fab class="orange" (click)="changecolor('#f66ef6')" matTooltip="orange"></button>
        <button mat-mini-fab class="yellow" (click)="changecolor('#f08080')"matTooltip="yellow"></button>
        </div>
    <div class="row2">
        <button mat-mini-fab class="green"(click)="changecolor('#05f6f6')"matTooltip="Green"></button>
        <button mat-mini-fab class="teal" (click)="changecolor('#ffffff')"matTooltip="Teal"></button>
        <button mat-mini-fab class="blue" (click)="changecolor('#ffffff')"matTooltip="Blue"></button>
        <button mat-mini-fab class="darkblue" (click)="changecolor('#ffffff')"matTooltip="Dark blue"></button>
        </div>
    <div class="row3">
        <button mat-mini-fab class="purple"(click)="changecolor('#ffffff')"matTooltip="Green"></button>
        <button mat-mini-fab class="pink" (click)="changecolor('#ffffff')"matTooltip="Teal"></button>
        <button mat-mini-fab class="brown" (click)="changecolor('#ffffff')"matTooltip="Blue"></button>
        <button mat-mini-fab class="gray" (click)="changecolor('#ffffff')"matTooltip="Dark blue"></button>
        </div>
        

</mat-menu>
  