@import "../../../sass/_variable.scss";
@import "../../../sass/_mixins.scss";
.icon2 {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
.colorNew{
    height:30px;
    width:30px;
    margin-top:5px;
  }