<div fxLayout="row wrap" fxLayoutAlign="center center" class="row-height">
  <!-- <mat-card fxFlex="34%"> -->
    <mat-card fxFlex.lg="34%" fxFlex.md="100%" fxFlex.xs="100%" fxFlex.sm="100%">
      <form><mat-card-title align:center>  <h4>Sign in</h4><br><h3>with your account</h3></mat-card-title>
        <mat-card-content fxLayout="column">
          <mat-form-field> 
            <input matInput placeholder="Enter your email" [formControl]="email"  [(ngModel)]="model1.emailid" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error></mat-form-field><br><br><br>
            <mat-form-field>
              <input matInput placeholder="Enter your password"  [formControl]="password" required minlength="8" [(ngModel)]="model1.password"  [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
            <div class="password">
              <button mat-button routerLink="/forgotpassword" color="primary"><h2>Forgot password ?</h2></button>
            </div>
            <div class="next">
              <button mat-flat-button color="primary"(click)=next()>Next</button>
            </div>
            <div class="account">
              <button mat-button  routerLink="/signup" color="primary"><h5>Create account</h5></button>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
