@import "../../../sass/_variable.scss";
@import "../../../sass/_mixins.scss";

  mat-card{ 
@include posi_over;
    max-width:100%;
  }
  mat-form-field{
    @include notes_left;
    overflow:hidden;
    font-size:16px;
    min-width:10px;
    padding :0px 10px 0px 10px;
  } 
  .container{
    @include posi_over;
    min-height:100vh;
    justify-content:center;
  }
  h4{
    text-align:center;
    font-size:30px;
    font-weight: normal;
    padding:0px;
    margin-bottom:0px;
    margin-top:0px;
    overflow:hidden;
  }
  .next {
    margin:260px 0px 0px 190px;
    overflow:hidden;
    position:fixed;
  }
.account {
  margin: 50px 130px -20px 0px;
}
.cards{
  float: right;
  text-align: center;
}
.content{
  font-weight: lighter;
  font-size:15px;
  margin-left:-40px;
  margin-bottom: 9px;
  // margin-right:-70px;
}
.dollar{
  font-size: large;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .dollar{
      font-size: smaller;
  }
  
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .content{
      font-weight: lighter;
      font-size:8px;
      margin-left:-40px;
      // margin-right:-70px;
  }
  
}
.belowcard{
  background-color:rgb(180, 177, 177) ;width:146px;height:220px
}
.aboveCard{
  width:140px;height:200px;margin-left: -38px;margin-top: -39px!important;
}
.aboveCardSelected{
  width:140px;height:220px;margin-left: -38px;margin-top: -39px!important;
}
.belowCardXS{
  font-size:15px;background-color: rgb(158, 158, 158);width:100px;height:145px
}
.aboveCardXS{
  width:90px;height:120px;margin-left: -20px;margin-top: -32px;
}
.selectedbelow{
   background-color:#fb0 ;width:146px;height:240px;
   box-shadow: 10px 10px 10px rgb(243, 240, 240)!important;
}
.password button,
.password {
  margin-top:-10px;
  overflow:hidden;
}
h3{
    text-align:center;
    font-size:20px;
    margin-top:0px;
    overflow:hidden;
    padding:0px;
    font-weight:lighter;
  }
.row-height {
  margin-left:150px;
  height: 100%
}
h2{
  font-weight:normal;
  overflow:hidden;
  font-size:15px;
}
h5{
  font-weight:normal;
  font-size:20px;
  overflow:hidden;
  margin-top:-20px;
}
