<div>
<div  fxLayout="column"  fxLayoutGap="5%" fxLayoutGap.xs="10%" >
    <div  fxFlex=100% fxLayout="row"   fxLayoutAlign="start center" style="background-color: #fb0;border: 2px ">
      <div  fxFlex=20% style="margin:2%">fundooNotes</div>
      <div  fxFlex="65%"></div>
      <div  fxFlex="5%">
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <div  fxFlex="5%">
          <mat-icon>refresh</mat-icon>
        </div>
        <div  fxFlex="5%">
            <mat-icon>notifications</mat-icon>
          </div>
        </div>
      </div>
    <div   fxLayout="row" >
      <div fxFlex="5%"></div>
     
    <div fxFlex="10%" class="matchip">
        <mat-chip-list>
          <mat-chip class="chip" color="#fb0" selected>fundooNotes</mat-chip>
        </mat-chip-list>
      </div>
      <div  fxFlex="66%" class="slide">
        <mat-tab-group dynamicHeight>
          <mat-tab label="SIGN IN">
            <div fxFlex="100%" fxLayout="column">
            <div  fxLayout="row">
            <div  class="shpgcart">shopping cart</div>
            <div  class="price">price</div>
            <div  class="validity">validity</div>
          </div>
          <div>
            <mat-divider></mat-divider>
          </div>
          <div  fxFlex="100%" fxLayout="row">
            <div  fxFlex="15%">
              <mat-card class="matcard">$6.99 per month Advance</mat-card>
            </div>
            <div fxFlex="45%" fxLayout="row">
              <div  fxLayout="column">
                <p  class="pack"> Advance Pack Details</p>
                <li>Unlimited Wall space</li>
                <li>$6.99/month</li>
                <li>Nice Interface</li>
                <li>Ability to add only title & description</li>
              </div>
            </div>
            <div class="num" fxFlex="20%">$6.99</div>
            <div  class="per_month" fxFlex="20%">
              <button class="per_month">per Month</button>
            </div>
          </div>
                <div fxFlex="100%" fxLayout="row">
                  
                </div>
                </div>

                
                
                
                
                
                
                
                
                <mat-divider></mat-divider>
                </mat-tab>
              
                <mat-tab label="PLACE ORDER">
                    <div class="example-large-box mat-elevation-z4">
                      Large content
                    </div>
                  </mat-tab>
                  <mat-tab label="COMPLETE PAYMENT">
                      <div class="example-large-box mat-elevation-z4">
                        Large content
                      </div>
                    </mat-tab>
                  

          </mat-tab-group>



      </div>
    


    </div>


    </div>