
@import "../../../sass/_variable.scss";
@import "../../../sass/_mixins.scss";
.mat-toolbar.mat-primary {
   @include toolbar();
  }
  .proceed{
    @include go();
 }
 .fundoo{
     cursor: pointer;
    @include fundoo();
    }
  .shop {
      font-size:25px;
      margin-bottom:-10px;
  }
  .sub{
      margin-top: 49px;
      width:240px;
      background-color: whitesmoke
  }
  
.first2{
    margin-top: 10px;
word-wrap: break-word;
}
.color{
    color:red;
}

.list{
    margin-top: 6px;
    word-wrap: break-word;
    font-size:16px;
    margin-left:10px;
}
.first{
    height:100px;
    width:40px;
}
.second{
    height:100px;
    width:100px;
}

.smallCard{
    width:70px;
    height:60px;
    border-radius: 20px 20px 20px 20px;
    background-color: grey;
}
.one{
    height:400px;
}


.advance{
    color:rgb(81, 104, 209);
    font-weight: bold;
    margin-left:10px;

}
.price{
   
    font-size:20px;
    margin-left:10px;
}
.col3{
    margin-left:13px;

}
@media only screen and (min-width: 250px) and (max-width: 450px) {

 @media only screen and (min-width: 250px) and (max-width: 950px) {
    .sub { 
        margin-top:-25px;
        width:150px;
        background-color: whitesmoke
       }
       .proceed{
       width:140px;
       font-size: 12px;
     }
  }
  .list { 
    font-size: 12px;    }
      }
      .three{
        height:400px;
    }
    .first1{
        margin-top: 20px;
    }
    .two{
        height:800px;
     }
     .left{
         margin-left: 19px;
     }
     .review{
         font-size:24px;
     }
     .clr{
         color:rgb(66, 100, 173)
     }
     .subNew{
         margin-top: 1px;
     }
     .pay{
         font-family: bold;
     }
     .toolbar{
        z-index: 2;
        position: fixed;
        // width: 1400px;
    
    }
    @media only screen and (min-width: 300px) and (max-width: 800px) {
        .toolbar{
            z-index: 2;
            position: fixed;
            width: 520px;
        
        }
   
    }

    .hrr{
        width:880px
        }
        @media only screen and (min-width: 300px) and (max-width: 800px) {
            .hrr{
                width:100px
                }
            }
        
     .del{
         font-size: 20px;
         font-weight: lighter;
         font-family: cursive
     }
     .first3{
         margin-top: 50px;
     }


      .cartNew{
        margin-top: 10px;
    margin-left: 182px;
}
.review{
     margin-top:10px;
    margin-left: 380px;
    position: relative;
.fontNew{
    font-size:20px;
    margin-top:10px;
}

}
.done{
     margin-top: 10px;
    margin-left: 780px;
    position: relative;

}
::ng-deep.mat-progress-bar-fill::after {
    background-color: rgb(31, 47, 190);
}
::ng-deep.mat-progress-bar-buffer {
    background-color:whitesmoke;
}

.example-margin {
    margin: 0 10px;
  }

