@import "../../../sass/_variable.scss";
@import "../../../sass/_mixins.scss";
.title{
  color:black;
  font-weight: bolder;
  font-family:BURW Chancery L, cursive  
}
.sidenav-container {
  height: 90%;
  background:$whitecolor;
}
.color:hover{
  @include text-overflow-hide;
  width:290px;
  border-radius: 0px 70px 70px 0px;
  background-color: $searchcolor;
}
.change{
  margin-top: 70px;
  opacity: 1;
}
.row-height{
  height:100%;
}
.sidenav {
  width: 300px;
  margin-top:56px;
  background:$whitecolor;
}
.labels{
  font-weight: lighter;
}
.mat-toolbar.mat-primary {
  position: sticky;
  background:$whitecolor ;
  color: $blackcolor;
  top: 0;
}
.search{
  width:200px;
  border-radius: $bor_rad_10;
  background-color:$searchcolor;
  overflow: hidden;
}
.search input{
  @include border;
  border-radius: $bor_rad_10;
  font-size:15px;
  height:40px;
  background-color:$searchcolor;
}
.search input:focus{
  border-radius: $bor_rad_10;
  background-color:$searchcolor;
}
.mat-select-panel {
  margin-top: 45px;
}
.image{
  display: none;
}
.account{
  font-size:10px;
}
.note{
  opacity: 0.5;
}
.note:hover{
  opacity: 1;
}
::placeholder {
  color: rgb(160, 148, 12);
  opacity: 1; 
  padding-left:30px;
}
.side {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.top1{
  opacity: 1;
}
.top {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}.notes{
  margin-left: 30px;
}
.firstName{
  margin-left: 130px;
  padding-top:0px;
}


