<!-------------------------------------- Toolbar compponent ------------------------------------->

<div class="row-height">

<!-------------------------------------- -----Toolbar------ ------------------------------------->

<mat-toolbar fxLayout="row" color="primary">

<!------------------------------------------ menu icon ---------------------------------------------->

<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
  <mat-icon fxFlex="25" style="color:black" aria-label="Side nav toggle icon">menu</mat-icon>
</button>

<!------------------------------------------ Title ---------------------------------------------->

<div class="title"><span fxFlex="10" ngStyle.lg="font-size:20" ngStyle.xl="font-size:20px"
  ngStyle.sm="font-size:10px">{{value}}</span></div>

<!------------------------------------------ Global Search ---------------------------------------------->
<form 
        fxFlex.lg="80%"         
        fxFlex.xl="80%"
        fxFlex.md="80%"
        fxFlex.sm="80%"
        fxFlex.xs="100%"
        fx.Show=true
        fx.Show.xs=true class="search"><button mat-icon-button type="submit">
        <mat-icon >search</mat-icon>
      </button>
      <input 
        fxFlex.lg="80%"         
        fxFlex.xl="80%"
        fxFlex.md="80%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
        fxFlex.xxs="100%"
        fx.Show=true
        fx.Show.xs=true type="text" placeholder="Search" 
        ngStyle.lg="font-size:20;width:500px;" 
        ngStyle.xl="font-size:20px"
        ngStyle.xs="font-size:10px"
        ngStyle.sm="font-size:10px" name="something" 
        [(ngModel)]="searchInput" (click)="searchbutton()" (keydown)="passmessage()">
    </form>
    <button  mat-icon-button>
        <mat-icon fxFlex="40px"  routerLink="/advancepack" aria-label="Side nav toggle icon" matTooltip="cart">shopping_cart</mat-icon>
      </button>
<!------------------------------------------Listview & Gridview ---------------------------------------------->

<mat-icon fxShow="true" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true"  fxFlex="40px" *ngIf="number==1" (click)="listview()" aria-label="Side nav toggle icon" matTooltip="list view">view_stream</mat-icon>
<mat-icon fxShow="true" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true"  fxFlex="40px" *ngIf="number==0" (click)="gridview()" aria-label="Side nav toggle icon" matTooltip="grid view">apps</mat-icon>
   
<!-----------------------------------------Profile pic ---------------------------------------------->

<button  *ngIf="image2!=''" (click)="$event.stopPropagation()"
     [ngStyle]="{'float':'left','width':'35px','height':'35px','background-image':'url(' +img+ ')','background-size':'cover'}"
      matTooltip="fundoo Account" 
      mat-mini-fab [matMenuTriggerFor]="appMenu"
       style="background-color:#fb0;float:right;color:white;text-transform:uppercase">
         </button>
         <button *ngIf="image2==''" (click)="$event.stopPropagation()" matTooltip="fundoo Account" mat-mini-fab [matMenuTriggerFor]="appMenu" 
         style="background-color:#fb0;float:right;color:white;text-transform:uppercase">{{firstchar | titlecase}}
        </button>
        <mat-menu  #appMenu="matMenu" [overlapTrigger]="false">
          <div fxLayoutAlign>
            <div fxFlex="10%">
              <button (click)="$event.stopPropagation()"  [ngStyle]="{'margin-left':'8px','float':'left','width':'100px','height':'100px','background-image':'url(' +img+ ')','background-size':'cover'}"
            (click)="selectFile.click()" matTooltip="fundoo Account" mat-mini-fab style="background-color:#fb0;float:right;color:white;text-transform:uppercase">
            <p class="change">change</p>
          </button>
          <input (click)="$event.stopPropagation()" class="image" type="file" (change)="onImageUpload($event)"
            #selectFile></div>
      </div>
      <mat-content fxFlex class="style" style="float:right;margin-right:50px;font-weight:bolder;margin-top:-60px;">{{firstName}}</mat-content><br>
    
      <br><mat-content class="style" style="float:right;margin-right:9px;margin-top:-50px;">{{raw_data}}
      </mat-content><br>
      <div  style="margin-left:85px;" class="add">
        <button mat-stroked-button color="accent" style="margin-left:85px;" (click)="logout()">Log out</button>
      </div>
    </mat-menu>
</mat-toolbar>

<!-------------------------------------- Sidenav Container--------------------------------------->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
  <mat-nav-list>

<!-------------------------------------------Notes------------------------------------------------>

<a  mat-list-item routerLink="/home/notes" routerLinkActive="list">
  <img  src="../../../assets/images/image1.svg"><span
      (click)="titlechange('fundooNotes')"  routerLinkActive="list" class="notes">Notes</span></a>

<!-------------------------------------------Reminders------------------------------------------------>

<a routerLinkActive="list" mat-list-item routerLink="/home/reminders"><img  src="../../../assets/images/image2.svg"><span
        (click)="titlechange('Reminders')" class="notes">Reminders</span></a><hr>

<!-------------------------------------------Labels------------------------------------------------>

<div class="labels">Labels<a mat-button routerLink="." style="margin-left:130px;"></a></div>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="200px" *ngFor="let index of labelarray">
  <a routerLinkActive="list" mat-list-item><hr>
    <mat-icon style="position:relative">label_outline</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a style="position:relative;
    margin-left:0px;
    width:200px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden !important;" routerLink="/home/labels/{{index.label}}" 
    (click)="labelheading(index)">{{index.label}}</a>&nbsp;</a></div>
        <a routerLinkActive="list" mat-list-item (click)="addlabel()">

<!-------------------------------------------Edit Labels------------------------------------------------>

<mat-icon class="side">edit</mat-icon><span class="notes">Edit labels</span></a><hr>
<a routerLinkActive="list" (click)="titlechange('Archive')" mat-list-item routerLink="/home/archive">

<!-------------------------------------------Archive------------------------------------------------>

<mat-icon  >archive</mat-icon><span class="notes"></span>Archive</a>
<a routerLinkActive="list" (click)="titlechange('Trash')" mat-list-item routerLink="/home/trash">

<!-------------------------------------------Delete------------------------------------------------>

<mat-icon  >delete</mat-icon><span class="notes"></span>Trash</a>
</mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
</div>