
.title{
  color:black;
  font-family:BURW Chancery L, cursive  
}
.sidenav-container {
  height: 90%;
  background:gainsboro;

}
.row-height{
  height:100%;
  
}
.sidenav {
  width: 300px;
  margin-top:70px;
  background:gainsboro;

  }

.mat-toolbar.mat-primary {
  position: sticky;
  background:#fb0 ;
  color: black;

  top: 0;
}

/* .mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
} */
.search{
background-color:#fb0;
overflow: hidden;


}


.search input{
  border:none;
  font-size:15px;
  height:40px;
  outline: none;
  background-color:#fb0;
  min-width:100px;
  /* width:700%; */
  overflow: hidden;

}
.search input:focus{
  background-color:white

}
/* 
.search input:hover{
  background-color: white;
} */

.mat-select-panel {
  margin-top: 45px;
}
.note{
  opacity: 0.75;
}

.notes1{
  margin-left: 30px;
  
}.notes2{
  margin-left: 30px;
}.notes3{
  margin-left: 30px;
}.notes4{
  margin-left: 30px;
}.notes5{
  margin-left: 30px;
}.notes6{
  margin-left: 30px;
}.notes7{
  margin-left: 30px;
}.notes8{
  margin-left: 30px;
}.notes9{
  margin-left: 30px;
}
.notes10{
  margin-left: 30px;
}


