<div fxLayout="row wrap" fxLayoutAlign="center center" class="row-height">
  <mat-card fxFlex.lg="34%" fxFlex.md="100%" fxFlex.xs="100%" fxFlex.sm="100%">
    <form>
      <mat-card-title align:left>
        <h4>Create your account</h4><br>
        <h3>to continue to fundooNotes</h3>
        <button (click)="cart()">Go to Cart</button>
      </mat-card-title>
      <mat-card-content fxLayout="column">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="First name" [formControl]="firstname" required minlength="3" [(ngModel)]="model.Firstname">
            <mat-error *ngIf="firstname.invalid">{{getErrorMessageFirstName()}}</mat-error>
          </mat-form-field>&nbsp;
          <mat-form-field>
            <input matInput placeholder="Last name" [formControl]="lastname" required minlength="3" [(ngModel)]="model.Lastname">
            <mat-error *ngIf="lastname.invalid">{{getErrorMessageLastName()}}</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field id="abc" hintLabel="You can use letters,numbers & periods">
          <input matInput placeholder="Email" [formControl]="email" required [(ngModel)]="model.Username">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div>
          <mat-form-field class=pass hintLabel="Use 8 or more characters">
            <input type="text" matInput placeholder="Password" [formControl]="password" required minlength="8"
              [(ngModel)]="model.password" required [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>&nbsp;
          <mat-form-field>
            <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <div flexLayout="row" fxFlexLayout="center">
          <!-- <div fxFlex.lg="100" *ngFor="let data of card">
            <mat-card mat-button (click)="respond(data)" [ngClass]="data.select? 'selected': 'notselected'" style="height:70px;width:100px">
              <mat-card-title class="mat_card_title" >
                {{data.name}}</mat-card-title>
              <mat-card-content style="font-size:12px">{{data.description}}</mat-card-content>
            </mat-card>
          </div> -->


        <div fxFlex.lg="100" *ngFor="let card of card">
            <mat-card mat-button  (click)="respond(card)"  [ngClass]="productId1 == card.id ? 'selectedbelow' : 'belowcard'" 
            ngStyle.xs="font-size:15px;background-color: rgb(158, 158, 158);width:100px;height:145px">
              <mat-card   [ngClass]="card.select? 'aboveCardSelected' : 'aboveCard'" 
              ngStyle.xs="width:90px;height:120px;margin-left: -20px;margin-top: -32px;" (click)="clicked(card);open()">
                <div class="dollar">
                  $ {{card.price}} per Month
                </div>
                <a style="font-size:smaller;color:deepskyblue">{{card.name}}</a>
                <ul>
                    <li class="content">Unlimited wall space</li>
                    <li class="content">Nice Interface</li>
                    <li class="content">${{card.price}}/month</li>
                    <li class="content">{{card.description}}</li>
                </ul>
              </mat-card>
              <div  *ngIf="productId1 != card.id" ngStyle.lg="margin:2%" ngStyle.xs="padding:1%">ADD TO CART</div>
              <div *ngIf="productId1 == card.id" ngStyle.lg="margin:2%" ngStyle.xs="padding:1%">SELECTED</div>

            </mat-card>
          </div>
        </div>






        <div class="password">
          <button matTooltip="If you already have an account" matTooltipClass="example-tooltip-red" mat-button
            mat-button routerLink="/login" color="primary">
            <h2>Sign in instead</h2>
          </button>
          <button mat-flat-button color="primary" id="pichi" (click)=signup()>
            Sign up</button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>