
<mat-icon class="icon2" mat-icon-button style="margin-bottom:30px;user-select: none;" [matMenuTriggerFor]="menu" (click)="addReminder()" matTooltip="Remind me">touch_app</mat-icon>&nbsp;

<mat-menu  style="padding-top:30px;"class="menu" #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item ><span>Reminder : </span></button>
    <button mat-menu-item ><span>Later today</span></button>
    <button mat-menu-item><span>Tomorrow </span></button>
    <button mat-menu-item><span>Next week</span></button>
    <button mat-menu-item><span>Home </span></button>
    <button mat-menu-item><mat-icon>pick date & time</mat-icon>
      <span>Pick date & time </span></button>

  </mat-menu>
  