
.alarm{
    margin-top:10px;
}
.icon2{
    opacity: 0.5;
}
.icon2:hover{
opacity: 1;
}
.menu{
padding-top:50px;
padding-top:30px;
}
.latertoday{
    margin-left:90px;
    /* text-align: right; */
    font-weight: lighter;
}
.place{
    margin-left:30px;
    margin-bottom:50px;


}
.place1{
    margin-left:10px;
    margin-bottom: 30px;
}