.inputTitle {
    border: none;
    outline: none;
    /* width: 150px; */
    font-size: 16px;
    /* margin-top:-20px; */
    font-style: oblique;
    font-weight: normal;
}
div[contenteditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.5;;
    }
h1{
    font-style: italic;
}
.example-margin {
    margin: 0 10px;
  }
  