&nbsp;<mat-icon class="icon2"mat-icon-button (click)="addReminder()" matTooltip="Redo">redo</mat-icon>&nbsp;&nbsp;
<!----------------------------------- Question & Answer----------------------------------------->
<mat-card  ngStyle.sm="width:95%"
      ngStyle.xs="width:90%;margin-left:3px"
      ngStyle.xl="width:500px" 
      ngStyle.1024-1366="width:0px" 
      ngStyle.md="width:0px" 
      ngStyle.lg="width:1000px" 
      ngstyle.gt-sm="width:1000px"
      ngStyle.md="width:200px" ><hr>
<!-----------------------------------mat-card-title--------------------------------------->
<mat-card-title> 
  <div fxLayout="row"  fxLayoutAlign="space-between" >
    <div  [innerHTML]="title" ></div>
    <div  class="close" ><a  mat-flat-button color="white" routerLink="/home/notes">Close</a></div>
  </div>
</mat-card-title>
<!-- -----------------------------mat-card-description------------------------------------>
<mat-card-content>
<div [innerHTML]="description"></div>
<!-- ---------------------------------checklists----------------------------------------->
<div *ngFor="let list of checklists">
  <div ><mat-checkbox [ngModel]="true" *ngIf="list.status=='close' && list.isDeleted==false"
    ></mat-checkbox>
    <span *ngIf="list.status=='close' && list.isDeleted==false">{{list.itemName}}</span>
    <mat-checkbox [ngModel]="false" *ngIf="list.status=='open' && list.isDeleted==false"></mat-checkbox>
    <span *ngIf="list.status=='open' && list.isDeleted==false">{{list.itemName}}</span>
  </div>
</div>
</mat-card-content><hr>
<span >Question Asked</span>
<!-----------------------------------Ask Question----------------------------------------->
<div *ngIf="message==null">
  <input class="border"  [(ngModel)]="quesask" (keydown.enter)="askQuestion(quesask)" 
  placeholder="Ask a question...">
</div>
<div  class="askedques" *ngIf="message!=null">{{message }} ?</div>
<!-- ----------------------------display profilepic & Question--------------------------->
</mat-card>



<span class="username">Username</span>







<div fxLayout="row">
  <div   fxFlex="7%" fxFlex.xs="12%"  *ngIf="message != null">
      <button mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
        </button>
      </div>
      <div  fxFlex="58%"  fxFlex.xs="60%" class="question">{{message }} ?</div>
      <div  style="float: right;" fxLayout="row"  fxFlex="30%"  fxFlex.xs="50%" fxLayoutGap="0px">
      <div><mat-icon fxFlex class="icon" (click)="reply()">reply</mat-icon></div>
      <div ><mat-icon fxFlex class="icon" (click)="like()">thumb_up</mat-icon>{{count}}</div>
      <div fxFlex class="stars"><bar-rating  (rateChange)="rate($event)" fxFlex [(rate)]="rate" [max]="5" ></bar-rating></div>
    </div>
    </div>




    