<mat-card [ngStyle]="{'background-color':color}">
<div >
    <div fxFlex="100" [ngStyle]="{'background-color':color}">
        <div [ngStyle]="{'background-color':color}" fxFlex.lg="65%" fxFlex.md="100%"
         fxFlex.xs="100%" fxFlex.sm="100%" class="hiddencard">
            <div fxLayout="row" class="hiddenDiv">
                <div class="inputTitle" contenteditable="true" id="title" [innerHTML]="data.title" placeholder="Title">
                    {{data.title}}</div>
                <!-- <div><img class="pin" src="../../../assets/images/pin.svg" matTooltip="Pin Note" alt=""></div> -->
                <!-- <app-pin (pinevent)="pinunpin($event)" [noteid]="data"></app-pin> -->
            
            </div>
            
            <div [ngStyle]="{'background-color':color}" *ngIf="!checklist" class="inputNote" contenteditable="true" id="note" 
            [innerHTML]="data.description" placeholder="Note"
                autofocus>{{data.description}}</div><br>
            <div fxLayout="row" fxLayoutAlign="start start" class="row-height" fxLayoutGap="5px">
                <div *ngFor="let item of selectarray1">
                    <mat-chip-list selected>
                        <mat-chip *ngIf="item.isDeleted==false">
                            {{item.label}}
                            <mat-icon matChipRemove (click)="removelabel(item,data.id)">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div [ngStyle]="{'background-color':color}" class="note" *ngFor="let check of tempArray" fxLayout="row">
                <mat-checkbox fxFlex="10%" *ngIf="check.status=='open'&& !check.isDeleted" (click)=checkBox(check)></mat-checkbox>
                <input [(ngModel)]=check.itemName fxFlex="80%" class="note" (keydown)=editing(check,$event)
                [ngStyle]="{'background-color':data.color}" *ngIf="!check.isDeleted && check.status=='open'">
                <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check) *ngIf="!check.isDeleted && check.status=='open'">clear</mat-icon>
            </div>
            <hr *ngIf="checklist">
            <div [ngStyle]="{'background-color':color}" fxLayout="row" *ngIf="checklist">
                <mat-icon fxFlex="5%" *ngIf="!adding">add</mat-icon>
                <mat-checkbox *ngIf="adding" [(ngModel)]=addCheck color="primary"></mat-checkbox>
                <input fxFlex="95%" class="note" placeholder="List Item" [style.backgroundColor]="bgcolor" [(ngModel)]=newList
                    (keydown)=addList($event) />
            </div>
            <hr *ngIf="checklist">
            <div [ngStyle]="{'background-color':color}" class="note" *ngFor="let check of tempArray" fxLayout="row">
                <mat-checkbox fxFlex="10%" checked=true *ngIf="check.status=='close'&& !check.isDeleted" (click)=checkBox(check)></mat-checkbox>
                <input  [ngStyle]="{'background-color':data.color}" [(ngModel)]=check.itemName class="note" style="text-decoration: line-through;" fxFlex="80%"
                    *ngIf="check.status=='close' && !check.isDeleted" (keydown)=editing(check,$event)>
                <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check) *ngIf="!check.isDeleted && check.status=='close'">clear</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" class="row-height" fxLayoutGap="5px">
                <div *ngFor="let item of selectarray2">
                    <mat-chip-list selected>
                        <mat-chip>
                            <mat-icon>access_time</mat-icon>
                            {{item | date:"medium"}}
                            <mat-icon (click)="removereminder(item,data.id)" matChipRemove>cancel</mat-icon>

                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div fxLayoutAlign="space-between"   style="height:40px;"  >
                    <app-icon1 [reminders]="data"></app-icon1>
                    <app-collaboratoricon></app-collaboratoricon>
                    <app-coloricon (response)="changeColor($event)" (updateevent)="color($event)" [newcolor]="data.id"></app-coloricon>
                    <app-imageicon></app-imageicon>
                    <app-archiveicon [noteid]="noteid" (archiveevent)="archive($event)" 
                    [noteid]="data.id"></app-archiveicon>
                    <app-moreicon (moreevent)="more($event)" 
                    [arrayofnotes]="data.id"></app-moreicon>   
                    <button  mat-button (click)="onNoClick()" (click)="close()">CLOSE</button>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         

            </div>
        </div>
    </div>
</div>
</mat-card>