@import "../../../sass/_variable.scss";
@import "../../../sass/_mixins.scss";

.hiddencard {
    width: 400;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 0px;
    padding: 2px;
  }
  .hiddenDiv {
    padding: 10px;
  }
  
  .inputTitle {
    @include border;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .inputNote {
    @include border;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: normal;
  }
  
  .pin {
    margin-top: -10px;
    margin-right: 10px;
    float: right;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }
  .app-icon1 {
    opacity: 0.5;
  }
  .closeButton {
    opacity: 0.5;
    margin-top: -30px;
    &:hover {
      opacity: 1;
    }
  }
  .one {
    width: 200px;
  }
  .two {
    margin-top: -60px;
    margin-left: 240px;
  }
  div[contenteditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.5;
  }
  .note {
    @include border;
  }