@import "../../../sass/_variable.scss";
@import "../../../sass/_mixins.scss";

.hiddencard {
    width: aut;
    height: auto;
    left: 0;
    border-radius:60px 20px 20px 20px;

    right: 0;
    margin: auto;
    margin-top: 0px;
    padding: 2px;
  }
  
  .inputTitle {
    @include border;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .inputNote {
    @include border;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: normal;
  }
  
  .pin {
    margin-top: -10px;
    margin-right: 10px;
    float: right;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }
  .app-icon1 {
    opacity: 0.5;
  }
  .closeButton {
    opacity: 0.5;
    margin-top: -30px;
    &:hover {
      opacity: 1;
    }
  }
  .one {
    width: 200px;
  }
  .two {
    margin-top: -60px;
    margin-left: 240px;
  }
  div[contenteditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.5;
  }
  .note {
    @include border;
  }
  .contentNew{
    font-weight:lighter;
    font-family:cursive;
    margin-left:58px;
    margin-top:-20px;
}
.scroll{
  max-height: 200px;
  overflow-y:auto;
  overflow-x:hidden !important;
}
.names{
  margin-top:15px;
  cursor: pointer;
  font-weight: lighter;

}
.clear{
  cursor: pointer;
}
.person{
  margin-top:20px;
}
.buttons{
  background-color: gainsboro;
}
.button{
  cursor: pointer;

  margin-top:10px;
  float:right;
  font-family:cursive;
}
.maticon{
  margin-bottom: 100px;
}
.matmenu{
  cursor: pointer;
}
.done{
  float:right;
  cursor: pointer;
}


